<nav class="bg-blue-500 p-4">
  <ul class="flex justify-between px-4">
    <li class="text-white">
      <a routerLink="/notes" routerLinkActive="active">
        <i class="fa fa-list mr-3"></i>Notes
      </a>
    </li>
    <li class="text-white">
      <a routerLink="/notes/create" routerLinkActive="active">
        <i class="fa fa-plus mr-3"></i>Create Note
      </a>
    </li>
    <li class="text-white">
      <a routerLink="/tracking" routerLinkActive="active">
        <i class="fa fa-line-chart mr-3"></i>Tracking
      </a>
    </li>
  </ul>
</nav>
